.facebook-button{
   
    left: -100%;
    background: -webkit-linear-gradient(right,#003366,#004080,#0059b3
  , #0073e6);
    border-radius: 15px;
    transition: all 0.4s ease;;
  }

  .login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:250px;
    height:400px;
    gap:10px;
    overflow: hidden;
  max-width: 390px;
  background: #fff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  font-size: 20px;
  }

  .nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100vh;
    display: grid;
    height: 100vh;
    width: 100%;
    place-items: center;
    /*background-color: #8EC5FC;*/
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  }

  input {
    height: 25px;
    width: 100%;
    border-radius: 15px;
    font-size: 17px;
  }
  .btn{
    left: -100%;
    background: -webkit-linear-gradient(right,#003366,#004080,#0059b3
  , #0073e6);
    border-radius: 15px;
    transition: all 0.4s ease;
    color:white;
    height: 35px;
    font-size: 20px;

  }
  .loginresponse{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px ;
  }
  .errormsg{
    color: red;
  }

 